<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Form</title>
</head>
<body>
<form th:object="${user}" th:action="@{/validateUser}" method="post" >
  <table>
    <tr>
      <td>Name:</td>
      <td><input th:field="*{name}"></td>
<!--      <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>-->
      <td th:if="${#fields.hasErrors('name')}" style="font-style: italic; color: blue">*Tên phải chứa 2-30 kí tự</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input th:field="*{age}"></td>
<!--      <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</td>-->
      <td th:if="${#fields.hasErrors('age')}" style="font-style: italic; color: blue">*Tuổi phải từ 18 trở lên</td>
    </tr>
    <tr>
      <td>PhoneNumber</td>
      <td><input th:field="*{number}"/></td>
      <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Name Error</td>
    </tr>
    <tr>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>